.container{
	margin-top: 20px;
}

.product{
	z-index: 10;
}

.product .panel{
	height: 215px;
}

.products{
	max-height: 220px !important;
}

.basket{
	z-index: 1;
}

.count{
	width: 23px !important;
}
