body{
	background-color: #efefef;
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Oswald', sans-serif;
}

p{
	color: #555555;
}

a{
	color: #3399FF;
}

a:visited{
	color: #0066FF;
}

/*** Prevent the title from taking up the entire line ***/
header h1{
	display: inline-block;
}

footer{
	margin: 0 auto;
	width: 1020px;
	padding: 50px;
	padding-top: 25px;
	background-color: #444444;
	color: #ffffff;
}

/*** Topbar navigation styling ***/

nav{
	font-family: 'Open Sans', sans-serif;
}

nav ul{
	background-color: #444444;
	color: #ffffff;
	padding: 0;
}

nav ul li{
	display: inline-block;
	text-align: center;
	margin-right: -4px;
}

nav ul li a:first-child{
	border-left: none;
}

nav ul li a{
	color: #ffffff;
	text-decoration: none;
	display: block;
	height: 39px;
	min-width: 80px;
	padding-top: 11px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 20px;
	border-right: 2px solid #f96d06;

}

nav ul li a:visited{
	color: #ffffff;
}

nav ul li:hover{
	box-shadow: inset 0 -5px 10px -2px rgba(249, 109 , 6, 0.75);
	background: #3a3a3a;
}

/*** Active page should be slightly noticeable ***/
.active{
	background-color: #3a3a3a;
}

.container{
	width: 1020px;
	margin: 50px auto;
	margin-bottom: 0;
	background-color: #ffffff;
	padding: 50px;
	box-shadow: 0 0 15px -5px rgba(0,0,0,0.75);
}

#cover{
	width: 1020px;
	height: 195px;
	padding: 0;
}

#cover img{
	transform: rotate(180deg);
}

#content{
	margin-top: 20px;
}

#content h2{
	text-align: center;
}

header aside{
	float: right;
	font-size: 14px;
	margin-top: 30px;
}

header aside::before{
	font-size: 1.5em;
	content: '\2709';
	margin-top: 15px;
}

/*** Columns ***/
.col-100{
	float: left;
	width: 100%;
}
.col-75{
	float: left;
	width: 74%;
}
.col-25{
	float: left;
	width: 24%;
}

/*** Main page blog section ***/
#last-blogs{
	margin-top: 50px;
}

.last-blogs-post{
	display: inline-block;
	width: 49%;
}

.last-blogs-post p, .last-blogs-post h3{
	margin: 5px;
}

/*** twitter ***/
#twitter{
	background-position: 0 0 center;
	background-image: url('../img/twitter.png');
	animation-name: twit;
	animation-duration: 1s;
	animation-direction: normal;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@keyframes twit{
	from{
		background-position: 0 -3px;
	}
	to{
		background-position: 25px -3px;
	}
}

/*** clearfix ***/
.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

/*** About sidebar ***/
.about-sidebar{
	border: 1px solid #f96d06;
	border-radius: 7px;
}

.about-sidebar h1{
	font-size: 2em;
	text-align: center;
	font-variant: small-caps;
}

.about-sidebar h2{
	font-size: 1.2em;
	text-align: center;
}

.about-sidebar em{
	font-style: normal;
	color: #aaaaaa;
}

.about-me section{
	margin-bottom: 35px;
	padding-right: 35px;
}

/*** Make the first letter of each section stand out ***/
.about-me section p:first-child::first-letter{
	font-size: 1.7em;
	font-weight: bold;
}

/*** blog styling ***/
.article-heading{
	margin: 0;
	padding: 15px;
	border: 1px solid #AAD4FF;
	background: #f7faff;
	background: linear-gradient(to bottom, #ffffff 0%,#f7faff 100%);
	border-radius: 30px 30px 0 0;
}

.article-content{
	margin: 0;
	margin-bottom: 25px;
	padding: 15px;
	border: 1px solid #aad4dd;
	border-top: none;
	background: #f7faff;
}

article h1{
	text-align: center;
	float: left;
	font-size: 1.25em;
	text-decoration: overline;
}

.article-heading time{
	margin-top: 15px;
	float: right;
	color: #888888;
}

/*** Prevent the <p> tag from moving article-content box downwards ***/
.article-content p{
	margin-top: 0;
	padding-top: 15px;
}

code{
	display: inline-block;
	border: 1px solid #555555;
	background-color: #ffffcc;
	padding: 2px;
}
