body{
	background-color: #69d2e7;
	font-family: 'Roboto', sans-serif;
}

h1,h2{
	font-family: 'Titillium Web', sans-serif;
	font-weight: 900;
}

h3{
	font-family: 'Titillium Web', sans-serif;
	font-weight: 700;
}

header{
	margin: 0 auto;
	width: 600px;
	text-align: center;
	font-family: 'Titillium Web', sans-serif;
	font-size: 36px;
	line-height: 64px;
}

footer{
	border: 1px solid #76ada9;
	border-top: none;
	border-radius: 0 0 10px 10px;
	box-shadow: 0px 5px 15px 0px #000000;
	background-color: #fa6900;
	padding: 5px;
}

section p{
	margin-left: 25px;
}

.container{
	margin: 0 auto;
	width: 70%;
	min-width: 500px;
}

.heading{
	margin-bottom: 0;
	background-color: #fa6900;
	border: 1px solid #76ada9;
	border-bottom: none;
	border-radius: 10px 10px 0 0;
	box-shadow: 0px 0px 10px 0px #000000;
	padding: 5px;
	text-align: center;
}

.heading h2{
	margin: 0;
	letter-spacing: 2px;
	display: inline-block;
}

.content{
	margin-top: 0;
	border: 1px solid #76ada9;
	box-shadow: 0px 0px 10px 0px #000000;
	background-color: #e0e4cc;
	padding: 10px;
}

.content section:first-child h3{
	margin-top: 0;
}

.left{
	float: left;
	width: 70%;
}

.right{
	float: left;
	width: 29%;
	height: 100%;
}

.right h3{
	margin-left: 25px;
}

.right ul{
	margin-left: 30px;
	padding-left: 10px;
	border-left: 2px solid #a7dbd8;
	list-style-type: none;
}

.gallery{
	text-align: center;
}

.gallery a img{
	height: 100%;
	width: 150px;
}

.logo{
	margin-top: 25px;
	text-align: center;
}

.accordion{
	margin-left: 30px;
}

.accordion h3{
	font-size: 16px !important;
}

.hidden{
	visibility: hidden;
}

.clearfix{
	clear: both;
}
